# Ignore everything at root
/*

# Keep these
!/.gitignore
!/.claude/
!/.claude/**
!/docs/
!/docs/**
docs/superpowers/*
!docs/superpowers/specs
!docs/superpowers/specs/**
!docs/superpowers/plans
!docs/superpowers/plans/**
!/README.md

# Ignore user-specific Claude settings
.claude/settings.json

# macOS
.DS_Store
**/.DS_Store
